@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@800&family=Roboto:wght@300&display=swap");

:root {
  --color-red: #ff2052;
  --color-white: #e6e6e6;
  --color-gray: #404040;
  --color-skyblue: #01b5dd;
  --color-green: #b0db64;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
}

.roboto-mono-font {
  font-family: "Roboto Mono", monospace;
}
